<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjh.cc.system.user.mapper.SystemUserMapper" >

    <insert id="saveUser" parameterType="com.cjh.cc.system.user.model.SystemUser">
        insert into t_user(
        id,
        user_name
        )values(
        #{id},
        #{userName}
        )
    </insert>

    <select id="findUserList" resultType="com.cjh.cc.system.user.model.SystemUser">
        select
        id as id,
        user_name as userName
        from t_user
    </select>

</mapper>